body{
    background-color: white;
}


td, th{
    border-bottom: 2px solid whitesmoke;
    padding: 5px;
    background-color: white;
    border-left-width: 0px;
    text-align: left;
}

table{
    background-color: whitesmoke;
    border-collapse: collapse;
    margin: auto;
    width: 90%;
    
}

caption{
    background-color: orange;
}

i{
    padding: 10px;
}